pipeline/HospitalGoldOrchestration.json
{
	"name": "HospitalGoldOrchestration",
	"properties": {
		"activities": [
			{
				"name": "silverFileCount",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Parquet1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lastFileCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\n   sub(\n      length(activity('silverFileCount').output.childItems),\n      activity('lastFileCount').output.firstRow.last_file_count\n   ),\n   5\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Dim_department",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/hemakumar01142_gmail.com#ext#@hemakumar01142gmail.onmicrosoft.com/hospital-analytics/03_dim_department"
							},
							"linkedServiceName": {
								"referenceName": "Hospitaldatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Dim_patient",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Dim_department",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/hemakumar01142_gmail.com#ext#@hemakumar01142gmail.onmicrosoft.com/hospital-analytics/03_gold_dim_patients"
							},
							"linkedServiceName": {
								"referenceName": "Hospitaldatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "FactTable",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Dim_patient",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/hemakumar01142_gmail.com#ext#@hemakumar01142gmail.onmicrosoft.com/hospital-analytics/03gold_fact"
							},
							"linkedServiceName": {
								"referenceName": "Hospitaldatabricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "updateCDC",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "FactTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "last_file_count",
											"value": {
												"value": "@string(length(activity('silverFileCount').output.childItems))\n",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "silverhsp",
										"p_folder": "controlcdc",
										"p_file": "empty.json"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "silverhsp",
										"p_folder": "controlcdc",
										"p_file": "cdc.json"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "lastFileCount",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "silverFileCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "silverhsp",
							"p_folder": "controlcdc",
							"p_file": "cdc.json"
						}
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": []
	}
}